*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Removes highlight that appears over a link while it's being tapped on mobile Chromium. */
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  overflow-wrap: break-word;
  height: 100%;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.1;
  text-wrap: balance;
}

:where(input, textarea, select, button, optgroup) {
  font: inherit;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

img,
video,
audio,
picture,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
  /* Removes the weird space-below if the display property is overwritten. */
  vertical-align: middle;
}

:where(button, input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
  cursor: not-allowed;
}

/* Uncomment for React/Next JS apps or delete this rule. 
#root,
#__next {
  isolation: isolate;
  height: 100%;
} */
