*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

:where(body) {
  line-height: 1.5;
  overflow-wrap: break-word;
  min-height: 100vh;
  min-height: 100svh;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.1;
  text-wrap: balance;
}

:where(img, svg, picture, canvas, video, audio, iframe) {
  display: block;
  max-width: 100%;
  height: auto;
  /* Removes the weird space below inline elements if the display property is overridden. */
  vertical-align: middle;
}

:where(
    a[href],
    area,
    button,
    input:not(
        [type="text"],
        [type="email"],
        [type="number"],
        [type="password"],
        [type="tel"],
        [type="url"]
      ),
    label[for],
    select,
    summary
  ):not(:disabled) {
  cursor: pointer;
  /* Removes the weird feedback highlight that appears on an item when it's tapped in mobile Chromium. */
  -webkit-tap-highlight-color: transparent;
}

:where(input, textarea, select, button) {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;

  &:where(:disabled) {
    cursor: not-allowed;
  }
}

:where(textarea) {
  resize: vertical;
}
